@charset "UTF-*";

/*
    Cores:
    -> #2C4C95
    -> #598BC0
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #2C4C95;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: white;
    height: 530px;
    width: 330px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);

    transform: translate(-50%, -50%);
    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background: #598BC0 url(../imagens/montanha.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 12px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
    text-align: justify;
}

form div.campo {
    display: block;
    background-color: #77879c;
    width: 100%;
    height: 50px;
    border: #77879c 4px solid;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo label {
    display: none;
}

div.campo span {
    color: white;
    font-size: 2.3em;
    width: 40px;
    padding: 5px;
    padding-left: 3px;
}

div.campo input {
    background-color: rgb(238, 238, 238);
    font-size: 1em;
    border: none;
    border-radius: 5px;
    width: calc(100% - 45px);
    height: 100%;
    padding: 6px;
    transform: translateY(-14px);
}

div.campo input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #2C4C95;
    color: white;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #41658b;
}

form a.botao {
    display: block;
    background-color: #598BC0;
    height: 40px;
    width: 100%;
    padding-top: 6px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: white;
    border-radius: 5px;
}

form a.botao:hover {
    background-color: #456b94;
}
